@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}

.hide-password-toggle::-ms-reveal,
.hide-password-toggle::-ms-clear {
  display: none;
}

@layer components {
  .btn-primary {
    @apply text-white rounded-lg py-3 font-medium shadow-md transition cursor-pointer bg-violet-900 hover:bg-violet-800;
  }

  .text-primary {
    color: #5a0f7a;
  }

  .text-primary-dark:hover {
    color: #4a0c66;
  }
  .card{
    @apply bg-white rounded-2xl drop-shadow-sm
  }
  .group{
    @apply bg-white rounded-2xl 
  }
  .add-btn {
    @apply inline-flex items-center gap-2 px-4 py-2 rounded-md 
           bg-green-100 text-green-700 font-medium
           hover:bg-green-200 transition-colors duration-200;
  }

  .add-btn-fill{
    @apply bg-violet-600 text-white hover:bg-violet-500
  }
}
